* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    gap: 8%;
    justify-content: space-around;
    background-color: #bb5e5b;
    padding: 20px 30px;
}

article {
    text-align: center;
}

h2 {
    text-transform: uppercase;
}