* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    text-align: center;
    padding: 20px 30px;
}

h2 {
    display: inline-block;
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color: white;
    padding: 2px 35px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    justify-content: space-around;
}

article {
    flex: 1;
}

#intro {
    background-color: #ca5757;
}

#intro h2 {
    color: #ca5757;
}

#intro h3 {
    text-transform: uppercase;
}

#news {
    background-color: #346b39;
}

#news h2 {
    color: #346b39;
}

#news article {
    text-align: left;
}